---
import HamburguerIcon from "../../../icons/HamburguerIcon.astro"
import SectionsPlaceholder from "../../../layout/SectionsPlaceholder.astro"
import Footer from "../../../shared/Footer.astro"
import MenuButtonPlaceholder from "./lib/MenuButtonPlaceholder.astro"
---

<div class="grid min-h-screen w-full grid-cols-1 grid-rows-[auto_1fr]">
	<astro-menubar-header
		id="menubar-header"
		class="sticky top-0 z-40 flex w-full flex-col items-start justify-start bg-zinc-800 sm:bg-zinc-900"
	>
		<header class="inline-flex h-20 w-full flex-row items-center justify-between px-8 align-middle">
			<h1 class="text-2xl font-bold">Header</h1>
			<button
				role="button"
				id="toggle-nav-button"
				aria-expanded="false"
				aria-controls="main-navigation"
				class="block md:hidden"
			>
				<HamburguerIcon />
			</button>
		</header>
		<div class="relative flex w-full flex-col items-start justify-center">
			<nav
				id="main-navigation"
				class="absolute top-0 h-0 w-full overflow-hidden bg-zinc-800 md:static md:flex md:h-max md:flex-col md:justify-start md:overflow-visible"
			>
				<ul
					is="astro-menubar-nav"
					class="flex w-full flex-col items-center justify-start overflow-y-auto border-2 border-transparent pt-4 md:flex-row md:overflow-visible md:border-y-slate-500 md:pt-0"
				>
					<li class="relative w-full md:w-max">
						<MenuButtonPlaceholder
							label="about"
							items={["Overview", "Administrations", "Facts", "Camps tours"]}
						/>
					</li>
					<li class="relative w-full md:w-max">
						<MenuButtonPlaceholder
							label="admissions"
							items={["Apply", "Tuition", "Sign Up", "Visit", "Photo tour", "Connect"]}
						/>
					</li>
					<li class="relative w-full md:w-max">
						<MenuButtonPlaceholder
							label="academics"
							items={[
								"Colleges & Schools",
								"Programs of Study",
								"Honors Programs",
								"Online Courses",
								"Course Explorer",
								"Register for Class",
								"Academic Calendar",
								"Transcripts",
							]}
						/>
					</li>
				</ul>
			</nav>
		</div>
	</astro-menubar-header>
	<div class="flex h-full min-h-[350px] w-full flex-col items-start justify-start p-8">
		<SectionsPlaceholder sectionsQuantity={10} />
	</div>
	<div class="col-span-full flex w-full flex-col items-center justify-start">
		<Footer />
	</div>
</div>
<style>
	#main-navigation {
		transition: height 0.2s ease-in-out;
	}
</style>
<script src="./scripts/apply-ul-height.ts"></script>
<script src="./scripts/astro-menubar-nav.ts"></script>
<script src="./scripts/astro-menubar-header.ts"></script>
