---
import TriangleIcon from "../TriangleIcon.astro"
---

<div class="flex w-full flex-col items-start justify-center gap-2">
	<span
		class="inline-flex h-5 w-full items-center justify-end rounded-sm border-4 border-black px-1 align-middle text-black"
	>
		<TriangleIcon width="16" height="16" />
	</span>
	<div class="h-10 w-full rounded-sm border-4 border-black"></div>
</div>
