---
import TriangleIcon from "../TriangleIcon.astro"
---

<div class="flex w-full flex-col items-start justify-center text-slate-950">
	<span
		class="inline-flex h-5 w-3/4 items-center justify-end border-4 border-b-0 border-slate-950 px-1 align-middle"
	>
		<TriangleIcon width="16" height="16" />
	</span>
	<div class="flex w-full flex-col items-start justify-center border-4 border-slate-950">
		<span class="h-4 w-full border-b-4 border-slate-950"></span>
		<span class="h-4 w-full"></span>
		<span class="h-4 w-full border-t-4 border-slate-950"></span>
	</div>
</div>
