---
import ExternalLinkIcon from "../ExternalLinkIcon.astro"
import PhotoIcon from "../PhotoIcon.astro"
---

<div class="relative flex w-full flex-col items-center justify-center text-slate-950">
	<PhotoIcon width="80" height="80" stroke-width="1.5" />
	<div class="absolute bottom-[-5px] right-2 z-40 rounded-md bg-slate-700 text-slate-950">
		<ExternalLinkIcon width="32" height="32" stroke-width="2.5" />
	</div>
</div>
