---
import SectionsPlaceholder from "../../../layout/SectionsPlaceholder.astro"
import Footer from "../../../shared/Footer.astro"
---

<astro-all-sticky-holy-grail-layout
	data-all-sticky-holy-grail
	class="flex min-h-screen w-full flex-col items-start justify-between sm:grid sm:grid-cols-1 sm:grid-rows-[auto_1fr_auto]"
>
	<header class="sticky top-0 z-50 w-full bg-zinc-900">
		<h2 class="border-b-2 border-slate-500 px-8 py-4 text-left text-2xl font-bold">Header</h2>
		<div class="inline-flex w-full flex-row items-center justify-end bg-zinc-800 py-2 sm:hidden">
			<button
				id="toggle-nav-button"
				role="button"
				aria-expanded="false"
				aria-controls="navigation"
				class="px-8 py-2"
			>
				open
			</button>
		</div>
	</header>
	<div
		class="flex w-full flex-col items-center justify-start sm:grid sm:grid-cols-[20%_60%_20%] sm:items-start"
	>
		<div
			id="main-navigation-container"
			data-mobile-sticky-container
			class="sticky z-50 flex w-full flex-col items-start justify-start bg-zinc-800 sm:static sm:col-span-1 sm:h-full"
		>
			<div
				data-sticky-container
				class="static flex w-full flex-col items-start justify-start sm:sticky"
			>
				<div class="relative flex w-full flex-col items-center justify-start">
					<nav
						id="main-navigation"
						aria-labelledby="navigation-label"
						class="absolute flex h-0 w-full flex-col items-start justify-start gap-4 overflow-auto bg-zinc-800 p-0 sm:static sm:h-auto sm:bg-transparent sm:p-8"
					>
						<h2 id="navigation-label" class="hidden w-full text-left text-xl sm:block">Nav</h2>
						<ul class="flex h-max w-full flex-col items-center justify-start gap-2 p-8 sm:p-0">
							{
								Array(25)
									.fill("Element #")
									.map((str, idx) => {
										return (
											<li class="w-full text-left">
												<a class="inline-flex w-full" href="">{`${str}${idx + 1}`}</a>
											</li>
										)
									})
							}
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<div class="flex flex-col items-center justify-start p-8 sm:col-span-1">
			<SectionsPlaceholder sectionsQuantity={10} />
		</div>
		<aside class="flex h-full w-full flex-col items-start justify-start bg-zinc-800 sm:col-span-1">
			<nav
				data-sticky-container
				class="static flex w-full flex-col items-start justify-start gap-4 overflow-auto p-8 sm:sticky"
				aria-labelledby="toc-label"
			>
				<h2 aria-label="toc-label" class="w-full text-left text-xl">Page Contents</h2>
				<ul class="flex w-full flex-col items-center justify-center gap-2">
					{
						Array(24)
							.fill("Element #")
							.map((str, idx) => {
								return (
									<li class="w-full text-left">
										<a class="inline-flex w-full" href="">{`${str}${idx + 1}`}</a>
									</li>
								)
							})
					}
				</ul>
			</nav>
		</aside>
	</div>
	<div class="flex w-full flex-col items-center justify-start">
		<Footer />
	</div>
</astro-all-sticky-holy-grail-layout>
<script src="./scripts/all-sticky/apply-nav-height.ts"></script>
<script src="./scripts/all-sticky/apply-sticky-navs-top.ts"></script>
<script src="./scripts/all-sticky/astro-all-sticky-holy-grail-layout.ts"></script>
