---
import type { TemplateItem } from "../../../data"
import FileTabs from "./FileTabs.astro"

interface Props {
	slug: string
	files: TemplateItem["files"]
}
const { slug, files } = Astro.props
const isTemplate = slug.includes("template")
---

<astro-example-preview
	data-slug={slug}
	class="relative flex w-full flex-col items-center justify-center gap-2"
>
	<div class="flex w-full flex-row items-center justify-center rounded-t-md bg-slate-600 px-4 py-2">
		<div
			data-breakpoint-menu
			data-current-breakpoint="DESKTOP"
			class="flex h-16 w-full flex-row items-center justify-center gap-8"
		>
			<button type="button" data-select-breakpoint-button data-breakpoint-option-value="MOBILE">
				mob
			</button>
			<button type="button" data-select-breakpoint-button data-breakpoint-option-value="TABLET">
				tablet
			</button>
			<button type="button" data-select-breakpoint-button data-breakpoint-option-value="DESKTOP">
				dekstop
			</button>
		</div>
		{
			isTemplate && (
				<a class="absolute right-10" target="_blank" href={`/preview${slug}`}>
					see showcase
				</a>
			)
		}
	</div>
	<div
		data-iframe-wrapper
		class="flex h-auto w-full flex-col items-center justify-center px-8 py-4"
	>
		<iframe
			class="flex h-[500px] w-full flex-col items-center justify-center"
			src={`/preview${slug}`}
		>
		</iframe>
	</div>
	<div class="w-full">
		{files && <FileTabs files={files} />}
	</div>
</astro-example-preview>
<script src="./scripts/astro-example-iframe.ts"></script>
