---
import type { TemplateItem } from "../../../data"
import DesktopIcon from "../../icons/device-icons/DesktopIcon.astro"
import MobileIcon from "../../icons/device-icons/MobileIcon.astro"
import TabletIcon from "../../icons/device-icons/TabletIcon.astro"
import ExampleShowcaseLink from "../examples/ExampleShowcaseLink.astro"
import BreakpointButton from "./lib/BreakpointButton.astro"
import FileTabs from "./lib/FileTabs.astro"

interface Props {
	slug: string
	files: TemplateItem["files"]
}
const { slug, files } = Astro.props
const isTemplate = slug.includes("template")
---

<astro-example-preview
	data-slug={slug}
	class="border-secondary relative flex h-full w-full flex-col items-center justify-center gap-8 rounded-md border-2 pb-8"
>
	<div
		class="bg-foreground relative flex w-full flex-row items-center justify-center rounded-t-md px-4"
	>
		<div
			data-breakpoint-menu
			data-current-breakpoint="DESKTOP"
			class="flex h-max w-full flex-row items-center justify-start gap-4 py-4 md:justify-center md:gap-8"
		>
			<BreakpointButton breakpoint="mobile">
				<MobileIcon />
			</BreakpointButton>
			<div class="hidden md:block">
				<BreakpointButton breakpoint="tablet">
					<TabletIcon />
				</BreakpointButton>
			</div>
			<div class="hidden lg:block">
				<BreakpointButton breakpoint="desktop">
					<DesktopIcon />
				</BreakpointButton>
			</div>
		</div>
		{isTemplate && <ExampleShowcaseLink slug={slug} />}
	</div>
	<div data-iframe-wrapper class="flex h-auto w-full flex-col items-center justify-center px-8">
		<iframe
			class="border-secondary flex h-[500px] w-full flex-col items-center justify-center rounded-md border-2 hover:border-white"
			src={`/preview${slug}`}
		>
		</iframe>
	</div>
	<div class="h-auto w-full px-8 text-sm">
		{files && <FileTabs files={files} />}
	</div>
</astro-example-preview>
<script src="./scripts/astro-example-preview.ts"></script>
