---
interface TocItem {
	name: string
	href: string
}

interface Props {
	items: TocItem[]
}

const { items } = Astro.props
const [tocFirstItem] = items
---

<nav
	class="sticky top-16 flex w-1/5 flex-col items-start justify-start gap-4 px-8"
	aria-labelledby="toc-label"
>
	<h2 id="toc-label">Page contents</h2>
	<ul class="flex flex-col items-center justify-center gap-4">
		<li class="w-full text-left text-slate-400">
			<a slot="toc-header" href={tocFirstItem.href}>
				Default {tocFirstItem.name}
			</a>
		</li>
		{
			items.map(({ href, name }) => {
				return (
					<li class="w-full text-left text-slate-400">
						<a href={href}>{name}</a>
					</li>
				)
			})
		}
	</ul>
</nav>
