---
import type { TemplateItem } from "../../data"

interface Props {
	template: TemplateItem
}
const {
	template: { name, href, icon: TemplateIcon },
} = Astro.props
---

<div
	class="flex h-full w-max flex-col items-center justify-between gap-4 rounded-lg border-2 border-slate-800 px-6 py-4"
	data-component="card"
>
	<h3 class="text-center text-yellow-200">
		{name}
	</h3>
	<div class="w-full">
		{TemplateIcon && <TemplateIcon />}
	</div>
	<a href={href} class="text-slate-400">Go to page</a>
</div>
