---
import HamburguerIcon from "../../../icons/HamburguerIcon.astro"
import SectionsPlaceholder from "../../../layout/SectionsPlaceholder.astro"
import Footer from "../../../shared/Footer.astro"
---

<div class="grid min-h-screen w-full grid-cols-1 grid-rows-[auto_1fr]">
	<astro-stacked-header
		id="stacked-header"
		class="sticky top-0 z-40 flex w-full flex-col items-start justify-start gap-0 bg-zinc-900 px-8 md:grid md:grid-cols-[max-content_1fr] md:gap-8"
	>
		<div class="flex h-20 w-full flex-row items-center justify-between">
			<header>
				<h1 class="text-2xl font-bold">Header</h1>
			</header>
			<button
				role="button"
				id="toggle-nav-button"
				aria-expanded="false"
				aria-controls="navigation"
				class="block md:hidden"
			>
				<HamburguerIcon />
			</button>
		</div>
		<div class="relative flex w-full flex-col items-end justify-center md:h-full">
			<nav
				id="main-navigation"
				class="absolute top-0 flex h-0 w-full flex-col items-start justify-start gap-4 overflow-hidden bg-zinc-900 sm:w-max md:static md:h-auto md:overflow-auto"
			>
				<ul
					class="flex w-full flex-col items-start justify-center gap-4 md:w-max md:flex-row md:items-center"
				>
					{
						Array(5)
							.fill("Item #")
							.map((str, idx) => {
								return (
									<li class="w-auto md:w-max">
										<a href="">{`${str}${idx + 1}`}</a>
									</li>
								)
							})
					}
				</ul>
			</nav>
		</div>
	</astro-stacked-header>
	<main>
		<div class="flex w-full flex-col items-center justify-center p-8">
			<SectionsPlaceholder sectionsQuantity={5} />
		</div>
	</main>
	<div class="flex w-full flex-col items-center justify-start">
		<Footer />
	</div>
</div>
<style>
	#main-navigation {
		transition: height 0.2s ease-in-out;
	}
</style>
<script src="./scripts/apply-nav-height.ts"></script>
<script src="./scripts/astro-stacked-header.ts"></script>
