---
import TriangleIcon from "../../../icons/TriangleIcon.astro"
---

<astro-dropdown class="relative">
	<button
		type="button"
		class="inline-flex items-center gap-2 rounded-md border-2 border-slate-700 bg-zinc-800 p-1.5"
		aria-expanded="false"
		id={"dropdown-button-example"}
		aria-controls={"dropdown-menu-example"}
	>
		Actions
		<TriangleIcon />
	</button>
	<ul
		id={"dropdown-menu-example"}
		role="menu"
		class="absolute top-12 hidden w-max rounded-md border-2 border-slate-700 bg-zinc-800 px-1 py-2"
		aria-labelledby={"dropdown-button-example"}
	>
		<li role="menuitem" class="p-1.5 hover:bg-slate-500 focus:bg-slate-500">Action 1</li>
		<li role="menuitem" class="p-1.5 hover:bg-slate-500 focus:bg-slate-500">Action 2</li>
	</ul>
</astro-dropdown>
<style>
	button:hover {
		@apply bg-zinc-600;
	}

	button:focus,
	button[aria-expanded="true"] {
		@apply ring-2 ring-slate-700;
	}

	button[aria-expanded="true"] svg {
		@apply rotate-180;
	}
</style>
<script src="./scripts/astro-dropdown.ts"></script>
