---
interface Props {
	breakpoint: string
}

const { breakpoint } = Astro.props
---

<div class="group relative inline-flex w-max flex-col items-center justify-center align-middle">
	<span
		class="absolute -top-[100%] w-max rounded-md border border-slate-300 bg-slate-800 px-4 py-2 text-sm lowercase text-white opacity-0 transition-opacity duration-100 ease-in-out group-hover:opacity-100"
	>
		{breakpoint}
	</span>
	<button
		class="inline-flex h-max flex-col items-center justify-center rounded-full border border-slate-500 bg-slate-800 p-2 align-middle text-slate-400"
		type="button"
		data-select-breakpoint-button
		data-breakpoint-option-value={breakpoint.toUpperCase()}
	>
		<slot />
	</button>
</div>
