---
interface Props {
	breakpoint: string
}

const { breakpoint } = Astro.props
---

<div class="group relative inline-flex w-max flex-col items-center justify-center align-middle">
	<span
		class="bg-primary absolute -top-[100%] w-max rounded-md border border-neutral-600 px-4 py-2 text-sm lowercase text-white opacity-0"
	>
		{breakpoint}
	</span>
	<button
		class="bg-primary text-secondary inline-flex h-max flex-col items-center justify-center rounded-full border border-neutral-600 p-2 align-middle"
		type="button"
		data-select-breakpoint-button
		data-breakpoint-option-value={breakpoint.toUpperCase()}
	>
		<slot />
	</button>
</div>
<style>
	span {
		@apply transition-opacity duration-100 ease-in-out group-hover:opacity-100;
	}

	button:hover {
		@apply bg-foreground border-white;
	}
</style>
