---
import ClipboardIcon from "../../../icons/ClipboardIcon.astro"
import CrossIcon from "../../../icons/CrossIcon.astro"

interface Props {
	rawFileName: string
}

const { rawFileName } = Astro.props
---

<astro-clipboard-button
	class="absolute bottom-6 right-6 flex w-max flex-col items-end justify-center gap-4"
>
	<button
		class="toast-button inline-flex w-max items-center justify-center gap-2 rounded-full border border-slate-500 bg-emerald-950 p-2 px-4 align-middle text-xs opacity-0"
	>
		<span>Copied to clipboard!</span>
		<CrossIcon width="14" height="14" />
	</button>
	<button
		data-file-name={rawFileName}
		class="clipboard-button border-secondary bg-primary inline-flex h-max flex-col items-center justify-center rounded-full border p-2 align-middle"
		type="button"
	>
		<ClipboardIcon />
	</button>
</astro-clipboard-button>
<style>
	.toast-button {
		@apply transition-opacity duration-200 ease-in-out;
	}

	.toast-button:hover {
		@apply border-white bg-emerald-800;
	}

	.clipboard-button:hover {
		@apply bg-foreground border-white;
	}
</style>
<script src="../scripts/astro-clipboard-button.ts"></script>
