---
import TriangleIcon from "../TriangleIcon.astro"
---

<div class="flex w-full flex-col items-start justify-center">
	<span
		class="inline-flex h-5 w-3/4 items-center justify-end rounded-sm border border-white px-1 align-middle"
	>
		<TriangleIcon width="16" height="16" />
	</span>
	<div class="flex w-full flex-col items-start justify-center rounded-sm border border-white">
		<span class="h-4 w-full border-b border-white"></span>
		<span class="h-4 w-full"></span>
		<span class="h-4 w-full border-t border-white"></span>
	</div>
</div>
