---
import ExternalLinkIcon from "../ExternalLinkIcon.astro"
import PhotoIcon from "../PhotoIcon.astro"
---

<div class="relative flex w-full flex-col items-center justify-center text-slate-700">
	<PhotoIcon width="80" height="80" />
	<div class="absolute top-[30%] text-white">
		<ExternalLinkIcon width="32" height="32" />
	</div>
</div>
