<div
	class="grid h-full w-full grid-cols-[20%_60%_20%] grid-rows-[auto_1fr_auto] border-4 border-black"
>
	<div class="col-span-full h-4 w-full border-b-4 border-black"></div>
	<div class="col-span-1 h-10 w-full"></div>
	<div class="col-span-1 h-10 w-full border-x-4 border-black"></div>
	<div class="col-span-1 h-10 w-full"></div>
	<div class="col-span-full h-4 w-full border-t-4 border-black"></div>
</div>
