<div class="grid h-full w-full grid-cols-1 grid-rows-[auto_1fr_auto] border-4 border-slate-950">
	<div class="flex h-full w-full flex-col items-start justify-center">
		<div class="h-4 w-full"></div>
		<ul class="flex h-4 w-full flex-row items-center justify-start border-y-4 border-slate-950">
			<li class="relative h-full w-4 border-r-4 border-slate-950"></li>
			<li class="relative h-full w-4 border-r-4 border-slate-950"></li>
			<li class="relative h-full w-4 border-r-4 border-slate-950"></li>
		</ul>
	</div>
	<div class="h-12 w-full"></div>
</div>
