<div class="grid h-full w-full grid-cols-1 grid-rows-[auto_1fr_auto] border-4 border-black">
	<div class="h-4 w-full"></div>
	<div class="h-10 w-full border-y-4 border-black"></div>
	<div class="h-4 w-full"></div>
</div>
