---
import type { TemplateItem } from "../../../data"

interface Props {
	references: TemplateItem["references"]
}

const { references } = Astro.props
---

<>
	{
		references && (
			<section id="references" class="flex w-full flex-col gap-8">
				<h2 class="text-xl font-bold">References</h2>
				<ol class="flex w-full flex-col items-center justify-start gap-4">
					{references.map((r) => {
						return (
							<li class="w-full">
								<a target="_blank" href={r}>
									[{r}]
								</a>
							</li>
						)
					})}
				</ol>
			</section>
		)
	}
</>
<style>
	ol {
		list-style: decimal;
		padding-left: 1.5rem;
	}
	li {
		display: list-item;
		width: 100%;
		word-wrap: break-word;
	}
	a {
		@apply decoration-white decoration-2 underline-offset-8 hover:underline;
	}
</style>
